.sidebar {
    min-width: 250px;
}

/* Список кімнат */
.room-list li {
    padding: 8px;
    transition: background-color 0.2s;
    cursor: pointer;
    border-radius: 0.375rem;
    /* відповідно до Tailwind rounded-lg */
}

.room-list li:hover {
    background-color: #e0e7ff;
    /* light hover */
}

.room-list li.active {
    background-color: #bfdbfe;
    /* активний фон */
    font-weight: 500;
}

/* Прокрутка для списку кімнат */
.sidebar-list {
    height: 76vh;
    overflow-y: auto;
}